html, body {
    margin: 0;
    padding: 0;

}

body {
    padding-top: 90px; 
}



header {
    position: fixed;
    top: 0;
    width: 100%;
  
    padding: 15px 40px; 

    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(10px);
    
    box-shadow: 0 2px 10px rgba(0,0,0,0.4); 

    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: center;

    z-index: 1000;
}


header h1 {
    margin: 0;
    font-size: 26px;
    font-weight: 600;
    color: white;
}


/* menu */
nav {
    justify-self: center;  
    display: flex;
    gap: 35px;
}

nav a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav a:hover, nav a.active {
    color: #ffce88;
    border-bottom: 2px solid #ffce88;
}




.hero {
    background-image: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?auto=format&fit=crop&w=1600&q=80');
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

.hero-content {
    position: relative;
    text-align: center;
    color: white;
    max-width: 700px;
}

.hero-content h2 {
    font-size: 50px;
    margin-bottom: 10px;
    text-shadow: 0 4px 10px black;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background: #ffcc7a;
    color: #333;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #ffb954;
}

.sobre {
    max-width: 900px;
    margin: 60px auto;
    padding: 20px;
    text-align: center;
}

.especialidades {
    max-width: 1100px;
    margin: 40px auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 18px rgba(0,0,0,0.15);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-6px);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    margin: 15px;
    font-size: 22px;
}

.card p {
    margin: 0 15px 20px 15px;
    color: #555;
}

.testemunhos {
    background: #f7f7f7;
    padding: 40px 20px;
}

.testemunhos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    max-width: 1100px;
    margin: auto;
}

.testemunho {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
}

.testemunho p {
    font-style: italic;
}

.testemunho span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #777;
}


.horario {
    max-width: 700px;
    margin: 50px auto;
    text-align: center;
}

.horario ul {
    list-style: none;
    padding: 0;
    font-size: 18px;
    line-height: 2;
}


.menu-hero {
    background-image: url('../imagens/teste2jpg.jpg'); 
    height: 300px; 
    background-size: cover;
    background-position: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white; 
    text-shadow: 0 2px 5px rgba(0,0,0,0.6); 
}

.menu-hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4); 
}


.menu-hero .section-title {
    position: relative; 
    margin: 0; 
    font-size: 55px; 
    z-index: 2; 
}




.menu-section {
    max-width: 1100px;
    margin: 60px auto; 
    padding: 20px;
}

/* Título principal */
.section-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}

/* Título das Categorias  */
.menu-category-title {
    font-size: 28px;
    font-weight: 600;
    
    border-bottom: 2px solid #ccc; 
    
    padding-bottom: 10px;
    margin-top: 50px; 
    margin-bottom: 25px;
}


.card .item-content {
    padding: 0 15px 20px 15px;
}

.menu-item h3 {
    margin-top: 15px;
    margin-bottom: 5px; 
}

/* Estilo para Preço */
.menu-item .price {
    float: right; 
    font-weight: bold;
    color: #ffb954; 
}

.menu-item h3::after {
    content: "";
    display: table;
    clear: both;
}
/* Banner  contacto */
.contact-hero {
    background-image: url('../imagens/fale.jpg'); 
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    text-shadow: 0 2px 5px rgba(0,0,0,0.6);
}

.contact-hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
}


.contact-hero .section-title {
    position: relative;
    margin: 0;
    font-size: 55px;
    z-index: 2;
}
